* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: auto;
    background-color: #234;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

p {
    color: red;
}

button {
    height: 10vh;
    width: 10%;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
